@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --text-tiny: 0.6rem;
  --text-small: 0.7rem;
  --color-textcustom-100: #FEF5EF;
  --color-terracota-50: #A7636B;
  --color-terracota-100: #9D5C63;
  --color-terracota-500: #7A4A50;
  --color-terracota-800: #853B43;
  --color-terracota-1000: #523236;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
    --primario: #9D5C63
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.button3D {
  border-radius: 12px;
  cursor: pointer;

  background: linear-gradient(to bottom, var(--color-terracota-50), var(--color-terracota-100));
  box-shadow: 0 6px 0 var(--color-terracota-500), 0 8px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(0);
  transition: all 0.1s ease;
  border: 1px solid var(--color-terracota-100);
}

.button3D:hover {
  background: linear-gradient(to bottom, var(--color-terracota-100), var(--color-terracota-50));
}

.button3D:active {
  transform: translateY(6px);
  box-shadow: 0 3px 0 var(--color-terracota-500), 0 8px 20px rgba(0, 0, 0, 0.3);
}